.jobs-page {
    background-color: rgb(118, 150, 195);
    margin: 15px;
    min-height: 80vh;
    border-radius: 10px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.jobs-page h2 {
    margin-bottom: 20px;
}

.jobs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
