body {
  font-family: 'Times New Roman', Times, serif;
  background-color: hwb(240 98% 0%);
  padding: 50px;
}

.form-container {
  width: 450px;
  margin: 40px auto;
  padding: 20px;
  background: rgba(14, 39, 230, 0.096);
  border-radius: 8px;
  padding: 50px;
}

input,
textarea {
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: rgba(52, 65, 202, 0.679);
  color: white;
  border-radius: 0%;
  cursor: pointer;
}

button:hover {
  background-color: rgba(52, 65, 202, 0.679);
}
