.job-card{
    width: 250px;
    height: 25vh;
    border-radius: 10px;
    box-shadow: 0px 0px 14px -2px #bebebe;
    padding: 10px;
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.job-card:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: 0.5s;
}

.job-card button{
    border-radius: 100px;
    margin-top: 19px;
    margin-left: 55px;
}